<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes,initial-scale=1">
		<title>宣传视频</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/listvideo.css" />
		<script type="text/javascript">
			var deviceWidth = document.documentElement.clientWidth
			document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
		</script>
	</head>

	<body style="background-color:#f5f5f5;">
		<div class="lvideo_content">
			<div class="tablink_head">
				<div class="tablink">
					<a class="tabitem active" videoListId='1'>
						<span>全部</span>
						<i></i>
					</a>
					<a class="" videoListId='2'>
						<span>治安宣传</span>
						<i></i>
					</a>
					<a class="" videoListId='3'>
						<span>防诈骗</span>
						<i></i>
					</a>
					<a class="" videoListId='4'>
						<span>消防知识</span>
						<i></i>
					</a>
					<a class="" videoListId='5'>
						<span>消防知识</span>
						<i></i>
					</a>
					<a class="" videoListId='6'>
						<span>消防知识</span>
						<i></i>
					</a>
					<a class="" videoListId='7'>
						<span>消防知识</span>
						<i></i>
					</a>
					<a class="" videoListId='8'>
						<span>消防知识</span>
						<i></i>
					</a>
					<a class="" videoListId='9'>
						<span>消防知识</span>
						<i></i>
					</a>
				</div>
			</div>
			<!--全部视频-->
			<div class="lvideo_view">
				<ul>
					<li class="active">
						<!--<a href="video_play.html?videoId=1">-->
						<a data-id="1">
							<div class="video">
								<div class="lvideo_pic">
									<img src="img/video_pic2.png">
								</div>
								<div class="lvideo_text">
									<p>短信诈骗之中行E令升级</p>
									<span>短信防诈骗</span>
									<br/>
									<span>2019-03-08</span>
								</div>
							</div>
						</a>
						<a data-id="2">
							<div class="video">
								<div class="lvideo_pic">
									<img src="img/video_pic.png">
								</div>
								<div class="lvideo_text">
									<p>关注消防共享平安</p>
									<span>新春佳节享快乐</span>
									<br/>
									<span>2019-02-20</span>
								</div>
							</div>
						</a>
						<a data-id="3">
							<div class="video">
								<div class="lvideo_pic">
									<img src="img/video_pic3.png">
								</div>
								<div class="lvideo_text">
									<p>公共治安安全宣传视频</p>
									<span>治安综合宣传</span>
									<br/>
									<span>2019-01-15</span>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</body>
	<script src="js/jquery-2.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/list-video.js" type="text/javascript" charset="utf-8"></script>

</html>